@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Days+One|Roboto:700');

*{
	margin: 0;
	padding: 0;
}


body{
	overflow-x: hidden;
	cursor: default;
}

#header a{
	text-decoration: none;
	color: #C2943E;
}



.underLine{
	background:white;
	width: 100px;
	height: 7px;
	border-radius: 5px;
	margin-top:5px;
	transition: .4s ease;
	
}

.About:hover ~ .underLine{
	transform:translateX(-130px);
}	

.Work:hover ~ .underLine{
	transform:translateX(0);
}	

.Contact:hover ~ .underLine{
	transform:translateX(150px);
}	


#header{
	width: 100%;
	height: 100px;
	background: #FFF3DC;
	position: sticky;
	top:0;
	z-index: 1000;
	
}

#header1{
	width: 1000px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	
	
}


#logo{ 
  margin-left: 50px;
  
}

#logo_img{
	position: relative;
	width: 80px;
	top:10px;
}

#menu{
	position: relative;
	top:-60px;
	color: #C2943E;
	font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 30px;
	width: 450px;
	float: right;
	
}

#menu p {
	display: inline-block;
	margin-left: 50px;
}

#menu div{
	background:white;
	width: 100px;
	height: 5px;
	border-radius: 5px;
	margin-top:5px;
	
}


#homePage{
	height: 250px;
	width: 100%;
	background: #FFF3DC;
}

#homePageContent{
	height: 250px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	
}

#homePageContent img{
    margin-top: -60px;
	width: 700px;
	
}

#content{
	position: relative;
	text-align: center;
	width: 600px;
	z-index: 100;
	top:-200px;
}
#content h1{
	font-family: Days One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 64px;
color: #C2953E;
}

#mainPage{
	text-align: center;
}


#container1{
	height: 800px;
	text-align: center;
	justify-content: center;
}

.img1{
	width: 100%;
	margin-top: 50px;
	z-index: 100;
	
}

#container2{
	margin-top: 50px;
	height: 800px;
	width: 1000px;
	text-align: center;
	display: inline-flex;
	flex-flow: row wrap;
}

#container2 section{
	width: 500px;
	height: 800px;
	  
}

#container2 div{
	margin-top: 350px;
}

#container2 h4{
font-family: Roboto;
font-style: normal;
font-weight:bold;
line-height: normal;
font-size: 25px;
color: #000000;
margin-bottom: 20px;
}


#container2 h5{
width: 450px;
margin: auto;
text-align: left;
font-family:sans-serif;
font-style:normal;
font-weight:400;
line-height: normal;
font-size: 18px;
color: #000000;
margin-bottom: 20px;
}

#container2 p{
	font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 26px;
	color: white;
	margin-top: -150px;
	z-index: 100;
}

#container3 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	
}

#mobileSection{
	text-align: center; 
	width: 1000px; 
	margin-right: auto; 
	margin-left: auto;
	height: 600px;
}

#mobileSection video{
	position: relative;
	top: -456px;
	right:-1px;
}



#footer{
	text-align: center;
}

#footer h5{
	font-family: Days One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 55px;
margin-top:100px;
color: #C2953E;
}

#footer p{
	font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 18px;
text-align: center;
padding-top: 25px;
color: #000000;
width: 600px;
margin-right: auto;
	margin-left: auto;
}

#messager{
	background:#FFF3DC;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-top:30px;
	height: 40px;
	border-radius: 10px;
	text-align: center;
	font-family: Days One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
color: #EAB44E;
	padding-top: 18px;
}

#contactMe{
	height: 70px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	display: inline-flex;
	margin-bottom: 30px;
}

#contactMe div{
	width: 300px;
	height: 100%;
	font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
}

#contactMe img{
	width: 60px;
	margin-left: -100px;
	margin-top:-50px;
	
}

#contactMe div p{
	margin-left: -110px;
}
